<ion-header>
  <ion-toolbar>
    <ion-title>salas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="dark" href="info-primeiro" expand="full" > 1° Informática </ion-button>
    <ion-button color="dark" href="home" expand="full"> 2° Informática </ion-button>
    <ion-button color="dark" href="home" expand="full"> 3° Informática </ion-button>
    <ion-button color="dark" href="home" expand="full"> 4° Informática </ion-button>
<ion-card>
    <ion-button color="dark" href="salvar-contato"> Cadastrar Aluno: </ion-button>
</ion-card>
</ion-content>
