<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Nome: </ion-label>
    <ion-input [(ngModel)]="contato.nome" type="text" name="nome" placeholder=" Insira seu nome completo: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Email: </ion-label>
    <ion-input [(ngModel)]="contato.email" type="text" name="email" placeholder=" Insira seu email completo: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Senha: </ion-label>
    <ion-input [(ngModel)]="contato.senha" type="password" name="senha" placeholder=" Insira sua senha: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> CPF: </ion-label>
    <ion-input [(ngModel)]="contato.cpf" type="text" name="cpf" placeholder=" Insira seu cpf: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Registro Acadêmico: </ion-label>
    <ion-input [(ngModel)]="contato.ra" type="text" name="ra" placeholder=" Insira o R.A do seu filho: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Número de Contato: </ion-label>
    <ion-input [(ngModel)]="contato.telefone" type="text" name="telefone" placeholder=" Insira seu telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Estado: </ion-label>
    <ion-select>
      <ion-select-option value="p">Paraná</ion-select-option>
      <ion-select-option value="m">Minas Gerais</ion-select-option>
      <ion-select-option value="r">Rio de Janeiro</ion-select-option>
      <ion-select-option value="s">São Paulo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label> Cidade: </ion-label>
    <ion-input [(ngModel)]="contato.cidade" name="cidade" placeholder=" Insira sua cidade "></ion-input>
  </ion-item>

  <ion-button color="dark" href="home"> Voltar </ion-button>
  <ion-button (click)="salvar()" color="dark" href="notificacao"> Salvar</ion-button>


</ion-content>

<ion-footer>

</ion-footer>
